.recoderIcon {
    animation: recodingAnimation 1s both infinite;
}

@keyframes recodingAnimation {
    0% {
        opacity: 0.2;
    }

    30% {
        opacity: 1;
    }
    
    100% {
        opacity: 0.2;
    }
}